.lista-suspensa-form {
    border-radius: 8px;
    background-colour: #212121;
    border: 1px solid #4A4949;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #ffffff;  
    padding: 8px 16px;  
}
